.container {
  padding-top: 20px;
}

.results-container {
  display: flex;
  flex-direction: row;
}

.user-display-container {
  padding: 14px;
}

.user-display {
  text-align: right;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-button {
  flex-grow: 1;
  margin: 15px;
}