.container {
  padding-top: 20px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result {
  margin: 4px;
}

input[type="checkbox"] {
  transform:scale(2, 2);
}

.user-display-container {
  padding: 14px;
}

.user-display {
  text-align: right;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-button {
  flex-grow: 1;
  margin: 15px;
}